<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Paciente</title>
    <link rel="stylesheet" href="/css/perfil.css" th:href="@{/css/perfil.css}">
</head>
<body>
<div class="container">
    <h1>Perfil del Paciente</h1>
    <div class="card">
        <h2 th:text="${paciente.nombre + ' ' + paciente.apellido}">Nombre Apellido</h2>
        <p><strong>Cédula:</strong> <span th:text="${paciente.cedula}">123456</span></p>
        <p><strong>Fecha de Nacimiento:</strong> <span th:text="${paciente.fechaNacimiento}">30</span></p>
        <p><strong>Dirección:</strong> <span th:text="${paciente.direccion}">Calle 123</span></p>
        <p><strong>Teléfono:</strong> <span th:text="${paciente.telefono}">3001234567</span></p>

    </div>
    <div th:if="${mensajeError}">
        <p th:text="${mensajeError}" style="color: red;"></p>
    </div>

</div>
</body>
</html>
