<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - Mi Aplicación">Mi Aplicación</title>
    <link rel="icon" type="image/png" href="/assets/logo.ico">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<header>
    <h1>Mi Aplicación</h1>
    <nav>
        <ul>
            <li><a th:href="@{/inicio}">Inicio</a></li>
            <li><a th:href="@{/about}">Acerca de</a></li>
            <li><a th:href="@{/contact}">Contacto</a></li>
            <li><a th:href="@{/login}">Iniciar Sesión</a></li>
        </ul>
    </nav>
</header>
<main layout:fragment="contenido">
    Contenido base
</main>
<footer>
    <p>© 2025 Mi Aplicación</p>
</footer>
</body>
</html>
